@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,300&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Lightpink: hsl(275, 100%, 97%);
    --Grayishpurple: hsl(292, 16%, 49%);
    --Darkpurple: hsl(292, 42%, 14%);
}
html{
    font-family: 'Work Sans', sans-serif;
}
body{
    width: 100svw;
    height: 100svh;
    background-color: var(--Lightpink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-panel{
    width: 100svw;
    height: 40svh;
    background-image: url('assets/images/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bottom-panel{
    width: 100svw;
    height: 55svh;
}

.faqs{
    width: 600px;
    height: auto;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
}
.faq{
    width: 100%;
    height: auto;
}
.title{
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight:600;
}
.title span{
    padding-left: 20px;
}
.title-point{
    font-weight:500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2px 0px 2px
}
.title-point:hover{
    background-color: var(--Lightpink);
    border-radius: 5px;
    cursor: pointer;
    
}
.faq:not(.faq:first-child){
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 10px;
}
.faq:not(.faq:first-child, .faq:last-child){
    border-bottom: 1px solid var(--Lightpink);
}
.text{
    padding-top: 20px;
    color: var(--Grayishpurple);
    display: none;
}
.title-point.active + .text{
    display: block;
}

.attribution {
    width: 100svw;
    height: 5svh;
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
 }

 /*============================MEDIA QUERY==============================*/

@media (max-width: 650px) {
    .faqs{
        width: 500px;
    }
}

@media (max-width: 570px){
    .faqs{
        width: 400px;
    }
    .title{
        font-size: 33px;
    }
    .title img{
        width: 38px;
    }
    .text{
        font-size: 14px;
    }
    /* .attribution{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
    } */
 }

@media (max-width: 420px){
    .faqs{
        width: 350px;
    }
    .title{
        font-size: 30px;
    }
    .title img{
        width: 38px;
    }
    .text{
        font-size: 11px;
    }
    .attribution{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
    }
    .title-point:hover{
        background-color: var(--White);
    }
 }

 @media (max-width: 375px){
    .faqs{
        width: 350px;
    }
    .title{
        font-size: 30px;
    }
    .title img{
        width: 38px;
    }
    .text{
        font-size: 11px;
    }
    .attribution{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
    }
   
 }
 